<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>StudentVaccination</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.vaccination.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRecord</display-name>
    <servlet-name>SearchRecord</servlet-name>
    <servlet-class>com.vaccination.servlets.SearchRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRecord</servlet-name>
    <url-pattern>/SearchRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecord</display-name>
    <servlet-name>DeleteRecord</servlet-name>
    <servlet-class>com.vaccination.servlets.DeleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecord</servlet-name>
    <url-pattern>/DeleteRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showrecord</display-name>
    <servlet-name>Showrecord</servlet-name>
    <servlet-class>com.vaccination.servlets.Showrecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showrecord</servlet-name>
    <url-pattern>/Showrecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowrecordofStu</display-name>
    <servlet-name>ShowrecordofStu</servlet-name>
    <servlet-class>com.vaccination.servlets.ShowrecordofStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowrecordofStu</servlet-name>
    <url-pattern>/ShowrecordofStu</url-pattern>
  </servlet-mapping>
</web-app>